<footer class="footer">
    <div class="footer-container">
        <div class="footer-box w-box">
	        <div class="footer-items w-row">
			    <div class="footer-menu_box w-col lg-3 md-6 xs-12">
				    <ul class="footer-menu">
					    <li><a href="#">home</a></li>
						<li><a href="#">atletic</a></li>
						<li><a href="#">brands</a></li>
						<li><a href="#">blog</a></li>
				    </ul>
				</div>
				<div class="social w-col lg-3 md-6 xs-12">
				    <div class="title">social</div>
					<div class="links">
					    <a href="#" class="fa fa-instagram"></a>
						<a href="#" class="fa fa-facebook"></a>
						<a href="#" class="fa fa-twitter"></a>
						<a href="#" class="fa fa-youtube-play"></a>
					</div>
				</div>
			</div>			
	    </div>
		<div class="cp w-box">
			<div class="footer-cp w-row">
				<div class="copyright w-col">© 2017 Hungry Season. All Right Reserved</div>
				<div class="terms">
					<a class="hz" href="#">Terms & conditions</a>
					<a class="hz" href="#">Privacy Policy</a>
					<a class="hz" href="#">Sitemap</a>
				</div>
			</div>
        </div>			
	</div>
</footer>