<footer>
    <div class="footer_box wide-block">
		<div class="footer w-box">
			<div class="footer_row w-row">
				<div class="footer_column form w-col">
				    <div class="box">
					    <h2>Онлайн запись</h2>
						<form class="contact_form">
							<div class="form_input">
								<label><input name="name">ваше имя</label>
							</div>
							<div class="form_input">
								<label><input name="tel">телефон</label>
							</div>
							<div class="form_input">
								<label><input name="email">ваш е-мейл</label>
							</div>	
							<button type="submit">записаться</button>					
						</form>
					</div>
				</div>
				<div class="footer_column services w-col">
				    <div class="box">
						<h2>Популярные услуги</h2>
						<ul class="footer_menu">
							<li><a href="#">Модное окрашивание</a></li>
							<li><a href="#">Мужская стрижка</a></li>
							<li><a href="#">Маникюр и педикюр</a></li>
						</ul>
					</div>
				</div>
				<div class="divider"></div>
				<div class="footer_column about w-col">
				    <div class="box">
						<h2>О салоне</h2>
						<ul class="footer_menu">
							<li><a href="#">Наши работы</a></li>
							<li><a href="#">Наши мастера</a></li>
							<li><a href="#">Наш интеръер</a></li>
							<li><a href="#">Наша витрина</a></li>
							<li><a href="#">Бренды</a></li>
						</ul>
					</div>
				</div>
				<div class="footer_column contacts w-col">
				    <div class="box">
						<h2>Наши контакты</h2>
						<a class="tel fa fa-phone" href="tel:+7 (495) 783-33-20">+7 (495) 783-33-20</a>
						<a class="tel fa fa-phone" href="tel:+7 (495) 783-33-20">+7 (495) 783-33-20</a>
						<a class="tel fa fa-phone" href="tel:+7 (495) 783-33-20">+7 (495) 783-33-20</a>
						<a class="tel fa fa-map-marker">2-я Фрунзенская ул., дом 12, Москва, 119146</a>
						<a class="tel fa fa-envelope-o" href="mailto:salonvipestetika@gmail.com">salonvipestetika@gmail.com</a>
						<a class="tel fa fa-instagram" href="#">Мы в Инстаграмм</a>
					</div>
				</div>			
			</div>
		</div>
	</div>
</footer>