<div class="cover wide-block h-block"></div>

<section class="header">
    <div class="header_box w-box">
	    <div class="top_line w-row">
		    <div class="logo w-col"></div>
			<div class="addr w-col">
			    <div class="content">
				    <div class="title  fa fa-map-marker">2я Фрунзенская 12</div>
					<a href="#">Москва</a>
				</div>
			</div>
			<div class="schedule w-col">
			    <div class="content">
				    <div class="title fa fa-clock-o">Часы работы салона "Эстетика"</div>
					<a href="#">с 10.00 до 21.00 без выходных</a>
				</div>
			</div>
            <div class="record">
			    <a class="btn" href="#"><span>онлайн запись</span></a>
            </div>			
		</div>
		<div class="menu_box">
		    <div class="hidden_menu"><a class="fa fa-list"><span>меню</span></a></div>
		    <ul class="menu">
			    <li class="hz"><a href="#">о салоне</a></li>
				<li class="hz"><a href="#">услуги</a></li>
				<li class="hz"><a href="#">барбер-кабинет</a></li>
				<li class="hz"><a href="#">акции</a></li>
				<li class="hz"><a href="#">новост</a></li>
				<li class="hz"><a href="#">блог</a></li>
				<li class="hz"><a href="#">контакты</a></li>
			</ul>
			<a class="menu_search fa fa-search"></a>
			<input class="search" placeholder="Запрос для поиска..." name="search">
		</div>
        <div class="top_slider wide-block">
            <img src="img/slides/slide1.jpg">
            <img src="img/slides/slide2.jpg">
            <img src="img/slides/slide3.jpg">
            <img src="img/slides/slide4.jpg">
            <img src="img/slides/slide5.jpg">
        </div>
	</div>
</section>