<header>
    <div class="header-box">
	    <div class="top-line w-row">
		    <div class="logo w-col"><img src="img/logo.png"></div>
			<div class="menu-box w-col">
			    <nav class="top-menu-nav">
				    <ul class="top-menu">
					    <li class="hz"><a href="#">athletes</a></li>
						<li class="hz"><a href="#">brands</a></li>
						<li class="hz"><a href="#">teams</a></li>
						<li class="hz"><a href="#">blog</a></li>
						<li class="hz"><a href="#">about</a></li>
					</ul>
				</nav>
			</div>
			<div class="user-tools w-col">
			    <div class="links">
				    <a class="admin-link fa fa-inbox"><div class="digit active"><span>10</span></div></a>
					<a class="admin-link fa fa-envelope-o"><div class="digit active"><span>10</span></div></a>
					<a class="admin-link fa fa-cog"></a>
					<a class="admin-link fa fa-lock"></a>
				</div>			    
			</div>
		</div>
		
		<div class="tooltip-box w-row">
		    <div class="title"><span>search</span></div>
			<div class="tools_menu_box">
			    <ul class="tools_menu">
				    <li><a href="#" class="fa fa-search active"></a></li>
					<li><a href="#" class="fa fa-pencil-square-o"></a></li>
					<li><a href="#" class="fa fa-wifi"></a></li>
					<li><a href="#" class="fa fa-file-text-o"></a></li>
					<li><a href="#" class="fa fa-calendar"></a></li>
					<li><a href="#" class="fa fa-signal"></a></li>
					<li><a href="#" class="fa fa-align-justify"></a></li>
					<li><a href="#" class="fa fa-align-justify"></a></li>
				</ul>
			</div>
		</div>		    
		
	</div>
</header>